.create-new-blog-post-page{
  & .title-create-new-page{
    font-family: inherit;
  }
  & .create-new-group{
    padding: 10px 40px;
    & #form-input{
      width: 100%;
      & input, textarea{
        width: 100%;
        border: none;
        border: 0.5px solid darkgray;
      }
    }
    & .cp-btn{
      & a, & button{
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}

#input-user-value{
  text-align: center;
  & input[type=text], & input[type=password]{
    max-width: 300px;
    width: 300px;
    padding: 10px 3px;
    margin: 5px 0;
    border: none;
    border-radius: 10px;
    border: 0.5px solid gray;
  }
  & .btn{
    border-radius: 10px;
    padding: 5px 50px;
  }
}